/* styles5x5.css */
@font-face {
    font-family: 'Yeongdeok Snow Crab';
    src: url('https://raw.githubusercontent.com/yunrang2/upload/master/Yeongdeok%20Snow%20Crab.ttf') format('truetype');
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Yeongdeok Snow Crab', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.index-bg {
    background: url('https://raw.githubusercontent.com/yunrang2/upload/master/POPKONBINGO.webp') no-repeat center center fixed;
    background-size: cover;
}

.bingo-bg {
    background: url('https://raw.githubusercontent.com/yunrang2/upload/master/BINGOMAIN3.webp') no-repeat center center fixed;
    background-size: cover;
}

#footer {
    width: 100%;
    padding: 2vh 0;
    background-color: #000;
    color: #fff;
    font-size: 2.4vh;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#content {
    text-align: center;
    margin-bottom: 8vh;
}

#instruction-text {
    font-size: 4vh;
    color: white;
    text-shadow: 0.2vh 0.2vh 0.4vh #000000;
    margin-bottom: 4vh;
}

#button-container {
    text-align: center;
}

.size-button {
    font-size: 3vh;
    padding: 2vh 4vh;
    margin: 1vh;
    cursor: pointer;
    background-color: #f1c40f;
    border: 0.2vh solid #e67e22;
    border-radius: 1vh;
    box-shadow: 0.4vh 0.4vh 0.8vh rgba(0, 0, 0, 0.2), inset 0.2vh 0.2vh 0.5vh rgba(255, 255, 255, 0.5);
    color: #333;
    transition: transform 0.2s, background-color 0.2s;
    font-family: 'Yeongdeok Snow Crab', Arial, sans-serif;
}

.size-button:hover {
    background-color: #f39c12;
    transform: scale(1.1);
}

.highlight {
    color: rgb(229, 255, 0); /* 강조를 위한 색상 */
    font-weight: bold;
}

#bingo-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
    position: absolute;
    left: 2vh;
    top: 50%;
    transform: translateY(-50%);
}

.random-number-display {
    width: 8vw;
    height: 8vw;
    max-width: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0.2vh solid #000;
    border-radius: 1vh;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 2vh;
}

.random-button {
    font-size: 2vh;
    padding: 1vh 2vh;
    background-color: #1e90ff;
    border: 0.2vh solid #1c86ee;
    border-radius: 1vh;
    box-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    font-family: 'Yeongdeok Snow Crab', Arial, sans-serif;
}

.random-button:hover {
    background-color: #1c86ee;
    transform: scale(1.1);
}

#remaining-choices {
    position: absolute;
    top: 2vh;
    left: 2vh;
    background-color: #fff;
    padding: 1vh;
    border-radius: 1vh;
    font-size: 2vh;
    font-weight: bold;
}

#bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    margin-bottom: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bingo-cell {
    width: 8vw; /* Increase the width */
    height: 8vw; /* Increase the height */
    max-width: 80px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffebcd;
    border: 0.2vh solid #000;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    box-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.2), inset 0.2vh 0.2vh 0.4vh rgba(255, 255, 255, 0.5);
    position: relative;
}

.bingo-cell:hover {
    background-color: #ffdab9;
}

.bingo-cell.clicked {
    background-color: #ffebcd;
    cursor: not-allowed;
    transform: scale(0.9);
    box-shadow: none;
}

.bingo-cell.clicked::after {
    content: '○';
    font-size: 4vh;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-button {
    position: absolute;
    top: 2vh;
    right: 2vh;
    padding: 1vh 2vh;
    font-size: 2vh;
    background-color: #1e90ff;
    border: 0.2vh solid #1c86ee;
    border-radius: 1vh;
    box-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    font-family: 'Yeongdeok Snow Crab', Arial, sans-serif;
}

.back-button:hover {
    background-color: #1c86ee;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    font-size: 3vh;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 0.2vh solid #000;
    border-radius: 1vh;
    box-shadow: 0 0 0.4vh rgba(0, 0, 0, 0.5);
    padding: 2vh;
    z-index: 10;
    text-align: center;
}

.popup-button {
    padding: 1vh 2vh;
    margin: 1vh;
    font-size: 2vh;
    background-color: #1e90ff;
    border: 0.2vh solid #1c86ee;
    border-radius: 1vh;
    box-shadow: 0.2vh 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    font-family: 'Yeongdeok Snow Crab', Arial, sans-serif;
}

.popup-button:hover {
    background-color: #1c86ee;
    transform: scale(1.1);
}

#double-or-nothing {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
